In [ ]:
#Reece Harkness
#M04 Programming Assignment.ipynb
#4/16/23

In [3]:
#11.1
def hours():
    print('Open 9-5 daily')

In [4]:
#11.2
>>> import zoo as menagerie
>>> menagerie.hours()
Open 9-5 daily

SyntaxError: invalid syntax (566533872.py, line 3)

In [5]:
#16.3
import csv

with open('books2.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["title", "author", "year"])
    writer.writerow(["The Weirdstone of Brisingamen", "Alan Garner", 1960])
    writer.writerow(["Perdido Street Station", "China Mi√©ville", 2000])
    writer.writerow(["Thud!", "Terry Pratchett", 2005])
    writer.writerow(["The Spellman Files", "Lisa Lutz", 2007])
    writer.writerow(["Small Gods", "Terry Pratchett", 1992])

In [6]:
#16.4
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('''CREATE TABLE books
             (title text, author text, year integer)''')

conn.commit()

conn.close()

In [7]:
#16.5
import csv
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('''CREATE TABLE IF NOT EXISTS books
             (title text, author text, year integer)''')

with open('books2.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader) # skip header row
    for row in reader:
        c.execute('INSERT INTO books (title, author, year) VALUES (?, ?, ?)', row)

conn.commit()

conn.close()

In [12]:
#16.8
from sqlalchemy import create_engine, select, Table, Column, Integer, String, MetaData

engine = create_engine('sqlite:///books.db', echo=True)
metadata = MetaData()

books = Table('books', metadata,
              Column('title', String),
              Column('author', String),
              Column('year', Integer))

conn = engine.connect()

result = conn.execute(select([books.c.title]).order_by(books.c.title))

for row in result:
    print(row['title'])

conn.close()

2023-04-16 16:14:12,343 INFO sqlalchemy.engine.Engine SELECT books.title
FROM books ORDER BY books.title
2023-04-16 16:14:12,345 INFO sqlalchemy.engine.Engine [generated in 0.00201s] ()
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!